:root{
    font-size: 16px;
    --book-photo-half-border:2vw 2vw 0px 0px ; 
    --main-bg-color:#F24C1A ;
    --sub-bg-color:E2E0E0 ; 
    --book-row-title-size:2.4vmax;
    --book-title-size:1.4vmax;
}
 .book-small{
    
    background-color: var(--sub-bg-color);
    width:14.5vw; 
    height: 26.4vmax ; 
    border-radius: 2vw;

}
.book-small-photo{
    width:100%; 
    height:auto ; 
    border-radius: var(--book-photo-half-border);
}
.book-title {
    font-size: var(--book-title-size);
    text-align: center;
}
.book-row-container{
    display: flex;
    justify-content: space-between;
    width:90vw ; 
    /* position: relative; 
    left:5vw ; 
    top:5vw ;  */
    margin : 2vw 5vw 2vw 5vw; 

    align-items: center;
}

.book-row-container .material-icons {
    clear:both;
    font-size: 40px;
}
button {
    background-color: var(--sub-bg-color);
}
.book-row-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
hr {
    width : 23vmax; 
    height: 1.5px;

    background-color: black;
}
.book-row-title p {
    font-size: var(--book-row-title-size);
    word-spacing:var(--book-row-title-size) ; 
    margin:0.8vw ;
}
.highlight {  /*e.g., book row title*/
    color : var(--main-bg-color) ; 
}

.book-row-options {
    
    margin-left:12vw ; 
    margin-top: 2vw;
    margin-bottom: 2vw;

    align-items: center;
}
button.chosen{
    background-color: var(--main-bg-color);
    color:white; 
}
.book-row-options button {
    width : 13vw ; 
    height : 3.7vw ; 
    border-radius: 1vmax;
    border:none;
}
button.view-all {
    height:3vw ;
    width : 10vw ; 
    float : right ;
    display: flex;
    justify-content:space-evenly;
    margin-right: 10vw;
    align-items: center;
}
.book-row-scroll {
    width : 76vw ; 
    height:1vw ;
    margin : 2vw 12vw 2vw 12vw ; 
    /* background-color: var(--sub-bg-color); */
    background-color: #FABD88;
    border-radius: 0.8vw ; 
}
.book-row-scroll-progress {
    width : 30vw ; 
    height:1vw ; 
    background-color: var(--main-bg-color);
    border-radius: 0.8vw;
}