

.cart{
  
    width: 64vw;
    margin-top: 5vh;
    margin-left: 5vw;
    float: left;
}
.list{
    height: 16VW;
    width: 59vw;

}
.list-title{
    border-radius: 15px;
    height: 5vh;
    width: 58vw;
    background-color: #E2E0E0;
}

.list-title p{
    float: left;
    margin-top: 1vh;
    margin-bottom:0px;
    margin-left: 0px;

    font-size: 1.5vw;
}





@media screen and (max-width:480px) {
    .cart{
        display: none;
    }

 

}