

.cart{
    height: 130vh;
    width: 64vw;
    margin-top: 5vh;
    margin-left: 5vw;
    float: left;
}
.list{
    height: 25.2vh;
    width: 64vw;

}
.list-title{
    height: 5vh;
    width: 60vw;
    background-color: #E2E0E0;
}

.list-title p{
    float: left;
    margin-top: 1vh;
    margin-bottom:0px;
    margin-left: 0px;

    font-size: 1.5vw;
}


.list-cover{
    height: 25vh;
    width: 15vw;
    border-style: none none solid solid;
    border-width:1px;
    float: left;
    position: relative;
}

.list-book-cover{
    height: 18vh;
    width: 12vw;

    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 1.5vw;
}
.list-book-name{
    height: 25vh;
    width: 15vw;
    border-style: none none solid solid;
    border-width:1px;
    float: left;

}
.book-name-con{
    height: 5vh;
    width: 13vw;
    background-color: #E2E0E0;
    border-radius: 25px;
    margin-top: 2vh;
    margin-left: 1vw;
    display: flex;
    justify-content: center;
    font-size: 2vw;
}

.list-qnt{
    height: 25vh;
    width: 6vw;
    border-style: none none solid solid;
    border-width:1px;
    float: left;
}

.list-qnt-con{
    height: 5vh;
    width: 4vw;
    background-color: #E2E0E0;
    border-radius: 20px;
    font-size: 2vw;
    margin-top: 2vh;
    margin-left: 1vw;
    display: flex;
    justify-content: center;

}

.list-price{
    height: 25vh;
    width: 8vw;
    border-style: none none solid solid;
    border-width:1px;
    float: left;
}

.list-price-con{
    height: 5vh;
    width: 6vw;
    background-color: #E2E0E0;
    border-radius: 20px;
    font-size: 2vw;
    margin-top: 2vh;
    margin-left: 1vw;
    display: flex;
    justify-content: center;
}
.list-sum{
    height: 25vh;
    width: 12vw;
    border:1px;
    float: left;
    border-style: none none solid solid;
    border-width:1px;
}

.list-sum-con{
    height: 5vh;
    width: 10vw;
    background-color: #E2E0E0;
    border-radius: 20px;
    font-size: 2vw;
    margin-top: 2vh;
    margin-left: 1vw;
    display: flex;
    justify-content: center;
}

.list-trash{
    margin-top: 2vh;
    width: 3vw;
    height: 5vh;
}
@media screen and (min-width: 480px) {
    .cart-mobile{
        display: none;
    }
    .info{

        width: 20vw;
        height: 40vh;
        float: left;
        margin-top: 5vh;
        margin-left:3vw;
        border-style: solid;
        border-width:1px;
    }
    
    .info p{
        margin-left: 2vw;
        margin-top: 2vh;
        margin-right: 2vw;
        margin-bottom: 0vh;
        float: left;
    }
    
    .info-title{
        float: left;
        width: 20vw;
        height: 5vh;
        background: #E2E0E0;
        padding-left: auto;
        display: flex;
        justify-content: center;
    }
    
    .order{
        width: 18vw;
        height: 6vh;
        background-color: #3BEF0E;
        float: left;
        border-width: 0em;
        border-radius: 20px;
        margin-top: 8vh;
        margin-left: 1vw;
    }
    
    .cancel{
        width: 18vw;
        height: 6vh;
        background-color: #F5734C;
        float: left;
        border-width: 0em;
        border-radius: 20px;
        margin-top: 2vh;
        margin-left: 1vw;
    }
    
    /* .header-1{
        display: none;
    }
    .header-2{
        display: none;
    } */
}

@media screen and (max-width:480px) {
    .cart{
        display: none;
    }

    .info{

        width: 80vw;
        height: 40vh;

        margin-top: 5vh;
        margin-left:10vw;
        border-style: solid;
        border-width:1px;
    }
    .info p{
        margin-left: 8vw;
        margin-top: 2vh;
        margin-right: 4vw;
        margin-bottom: 0vh;
        font-size: 6vw;
        float: left;
    }

    .info-title{
        float: left;
        width: 80vw;
        height: 5vh;
        background: #E2E0E0;
        padding-left: auto;
        display: flex;
        justify-content: center;
        font-size: 6vw;
    }

    .order{
        width: 68vw;
        height: 6vh;
        background-color: #3BEF0E;
        float: left;
        border-width: 0em;
        border-radius: 20px;
        margin-top: 4vh;
        margin-left: 6vw;
    }

    .cancel{
        width: 68vw;
        height: 6vh;
        background-color: #F5734C;
        float: left;
        border-width: 0em;
        border-radius: 20px;
        margin-top: 2vh;
        margin-left: 6vw;
    }


        

    .list-title{
        display: none;
    }

    .cart-mobile{
        width: 100vw;
        height: 75vh;
        margin-left: -8px;

    }

    .list-mobile{
        width: 90vw;
        height: 25vh;
        border-style: solid none none none;
        border-width: 1px;
        margin-left: 5vw;
    }

    .list-mobile p {
        margin-bottom: 0px;
        margin-top:0px;
    }

    .book-cover-mobile{
        width: 24vw;
        height: 18vh;
        float: left;
        margin-left: 3vw;
        margin-top: 2vw;
        border-radius: 25px;
    }

    .list-info-mobile{
        float: left;
        width: 60vw;
        height: 21vh;
        margin-left: 2vw;
        padding-top: 2vh;
    }

    .book-title-mobile{
        width: 45vw;
        height: 5vh;
        background-color: #E2E0E0;
        border-radius: 20px;
        float: left;
        display: flex;
        justify-content: center;
        font-size: 6vw;
    }

    .book-trash-mobile{
        width: 8vw;
        height: 5vh;
        float: left;
        border-radius: 20px;
        margin-left: 2vw;
    }
    .book-car-mobile{
        margin-top: 2vh;
        margin-right: 2vw;
        width: 15vw;
        height: 5vh;
        background-color: #E2E0E0;
        border-radius: 20px;
        float: left;
        display: flex;
        justify-content: center;
        font-size: 4vw;

    }


}