

.cart{
  
    width: 64vw;
    margin-top: 5vh;
    margin-left: 5vw;
    float: left;
}
.list{
    height: 16VW;
    width: 59vw;

}
.list-title{
    border-radius: 15px;
    height: 5vh;
    width: 58vw;
    background-color: #E2E0E0;
}

.list-title p{
    float: left;
    margin-top: 1vh;
    margin-bottom:0px;
    margin-left: 0px;

    font-size: 1.5vw;
}
@font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2) format('woff2');
    font-display: swap;
  }




@media screen and (max-width:480px) {
    .cart{
        display: none;
    }

 

}