.card {
    position: absolute;
    background: #E2E0E0;
    border-radius: 25px; 
    padding:0px;
    width: 22vw;;
    display: flexbox;
    min-width: 20vw;
    top: 40%;
}

.card .card-header {
    font-size: large;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;

}

.card .card-body {
    padding: 10px 20px 10px 10px;
    margin: -20px 20px 20px 20px;
}

form {
    display: flexbox;
}

.form-group {
    width: 100%;
    padding: 10px;
}

.form-group label {
    font-size: 18px;
    padding: 5px 10px;
    display: inline-block;
}

.form-group .form-control {
    width: 100%;
    padding: 10px;
    display: inline-block;
    border-radius: 25px;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #fff;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.button {
    display: inline-block;
    padding: 10px;
    font-size: 16px;
    border-radius: 20px;
    border: 0px;
    min-width: 70%;
}

.button i {
    min-width: 20px;
    height: 20px;
    padding: 3px;
    border-radius: 500px;
    border: 2px solid #fff;
    color:  #fff;
    margin-right: 10px;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
}

.yellow {
    background-color: #FAA809;
    color:  #fff;
}

.blue {
    background-color: #385997;
    color:  #fff;
}

.padding-top {
    padding-top: 10px
}

html {
    height: 100%
}
.body {
    background-image: url("bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.register {
    padding-top: 5%; 
    padding-left: 66%
}
.book-row-3{
    height: 50vh;
    width: 60vw;
    position: relative;
    left: 23%;
}
.book-list-cat{
  
    list-style-type:none;
    position: inherit;
    height:var(--book-small-height-withName) ;
    width: 74vw;
    margin: 0px;
    padding: 0px;
    border: 0px;
}
.cat-title{
    position: relative ;
    background-color: #F24C1A;
    width: 30vw;
    height: 8vh;
    left: 45%;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 2vh;
    border-radius: 25px;
}
.cat-title p{
    color: white;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}
.cat-title p{
    margin: 0px;

}
.cat-title-sub{
    position: relative;
    background-color: #C4C4C4 ;
    width: 30vw;
    height: 6vh;
    left: 45%;
    text-align: center;
    vertical-align: middle;
    border-radius: 25px;

}
.cat-title-sub p{
    color: #F24C1A;
    left: 50%;
    top: 10%;
    position: absolute;
    transform: translate(-50%, -50%);
}