:root {
    font-size: 16px;
    /* colors */
    --main-bg-color:#F24C1A ;
    --main-tmp-color:gray ; 
    --sub-text-color:5F5E5E ; 
    --main-text-color:585656 ; 
    --main-text-size:2vmax; 
    --main-list-highlight : #C4C4C4 ; 
    /* --sub-layer-color:E2E0E0;  */ 
    --sub-layer-color:gray; 
    /*using the above color temporarily*/
    /* fonts  */
    --main-font-family :font-family:  Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   --text-header-size:3.13vmax ; 
   --text-definition-size:1.95vmax; 
   --text-highlight-size : 2.34vmax; 
   --text-subDefinition-size: 1.41vmax; 
     /* sizes */
     --book-small-width:16.1vw ; 
     --book-small-height:17.97vw; 
      --book-small-height-withName: 22.4vw; 
      --book-small-border-radius : 1.95vw ; 
      --book-small-height-name:4.43vw ; 
      --book-small-border-radius :2vw; 
      --book-photo-half-border:2vw 2vw 0px 0px ; 
 }

 @media only screen and (min-width: 1000px) {
    /* For desktop: */
    .book-row-1{
        height: 100vh ;
        width: 93vw;
        position: relative;
    }
}
  
header {
    height: 30vh;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    position: relative;
    
}
.header-1{
    height: 5vh;
    background-color: black;
    color: white;
    font-size: 1.5vw;
    display: flex;  
    position: relative;
}

.header-1 img{
    width: 2.1vw;
    height: 2.1vw;
}

.h-a-1{
    position: absolute;
    left: 5%;
    top: 5%;
}
.h-a-2{
    position: absolute;
    right: 15%;
    align-content: center;
}
.h-a-3{
    position: absolute;
    right: 5%;
}

.h-logo{

    height: 7vh;
    position: absolute;
    top: 32%;
    left: 14%;
    transform: translate(-50%, -50%);

}

.header-2{
    height: 25vh;
    width: 100%;
    position: relative;
}

  
.search {
    width: 100%;
    position: absolute;
    display: flex;
}

.searchTerm {
    width: 100%;
    height: 7vh;    
    outline: none;
    color: #9DBFAF;
    font-size: 3vh;
    border-radius: 25px 0px 0px 25px;
}

.searchTerm:focus{
    color: #00B4CC;
}
  
.searchButton {
    width: 5vw;
    height: 7vh;

    background: #F24C1A;
    text-align: center;
    color: #fff;
    border-radius: 0px 25px 25px 0px;
    cursor: pointer;

    border: 0px;
    font-size: 0; 
}
  

.wrap{
    width: 30vw;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.navbar{
    width: 85vw;
    height: 8vh;
    background-color: #E2E0E0;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
}
.navbar ul{
    position: absolute;
    top: -5%;
}

.navbar ul li{
    display: inline;
    font-size: 2vw;
    margin-right: 5vw;  
}
.navbar ul img{
    width: 5vh;
    position: absolute;
    
}

.main{
    margin-left: -8px;
    margin-right: -8px;
    height: 70vh;
    position: relative;
}

.main img{
    width: 100%;
    height: 70vh;

}
.book-row-1{
    max-height:180vh;
    min-height: 90vh;

    position: relative;
    display: inline;
}

.footer{
    position: relative;
    height: 50vh;
    background-color: #2A2828;
    margin-bottom: -8px;
    margin-left: -8px;
    margin-right: -8px;
    color: white;
}
.logo-footer{
    widows: 10hw;
    height: 7vh;
    position: absolute;
    top: 10%;
    left: 10%;
    transform: translate(-50%, -50%);
    
}
.footer p{
    width: 25vw;
    position: absolute;
    left: 14.6%;
    top: 30%;
    transform: translate(-50%, -50%);
    
}
.footer ul{
    list-style-type:none;
    display: inline;
    position: absolute;

}
footer ul li{
    margin: 2vh;
}
.footer-left{
    position: relative;
    height: 45vh;
    width: 40vw;
    top: 7%;
    left: 3%;
}
.footer-right{
    position: relative;
    background: #F24C1A;
    height: 45vh;
    width: 35vw;
    left: 50%;
    bottom: 86%;
    margin: 0px;
}

.li-1{
    top: 40%;
    left: 65%;
    transform: translate(-50%, -50%);
}

.li-2{
    top: 40%;
    left: 80%;
    transform: translate(-50%, -50%);
}
.wrap-footer{
    width: 30vw;
    position: absolute;
    top: 60%;
    left: 17%;
    transform: translate(-50%, -50%);
}


