
.sort_modal {
    position:fixed ; 
    top :50%; 
    left:50%;
    transform : translate(-50%, -50%) scale(0) ; 
    transition: 200ms ease-in-out;
    border:1px solid black ; 
    border-radius: 25px;
    z-index: 102;
    background-color: white;
    width:500px;
    max-width: 80%;
    height: 90%;
    padding :5px;  
    /* max-height: 80%; */
}

.sort_modal.active {
    transform : translate(-50%, -50%) scale(1) ; 
}

.sort_modal-header {
    padding: 10px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.sort_modal-header .sort_title {
    font-size: 1.25rem ; 
    font-weight: bold;
}

.sort_modal-header .sort_close-button {
    cursor: pointer;
    border:none; 
    outline: none;
    background :none;
    font-size: 4vmax;
    font-weight: bold;
}

.sort_modal-body {
    padding : 10px 10%;
}

#sort_overlay {
    position:fixed ; 
    opacity:0 ; 
    top :0 ; 
    left:0 ; 
    right :0 ; 
    bottom: 0 ; 
    z-index: 101;
    pointer-events: none;
    background-color: #E2E0E0;
    /* background-color: black; */
    height:100%; 
    width: 100%;
}

.sort_modal-title p {
    color:black;
}

#sort_overlay.active {
    opacity: 0.6;
    pointer-events: all; 

}

/* .modal-href {
    color:black;
    vertical-align: middle;
    margin-top: 10px;
} */
.sort_modal-body ul {
    list-style-type: none;
    padding: 0;
    margin :0;
}
.sort_modal-body li {
    margin:15px;
}

.sort_modal-body a{
    color:black;
    font-size: 20px;
}

.sort_modal-links {
    width:95%;
    height:30px;
    background-color: #E2E0E0 ;
    border-radius: 20px;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    padding:10px;
}

#sort_open {
    background-color: #E2E0E0;
    width:40vw;
    margin-left: 30vw;
    height:7vh;
    border:none; 
    border-radius: 15px;
    cursor: pointer;
    box-shadow: rgb(0 0 0 / 24%) 2px 3px 4px;
}

button.sort_close {
    background: white;
}