:root {
    font-size: 16px;
    /* colors */
    --main-bg-color:#F24C1A ;
    --main-tmp-color:gray ; 
    --sub-text-color:5F5E5E ; 
    --main-text-color:585656 ; 
    --main-text-size:2vmax; 
    --main-list-highlight : #C4C4C4 ; 
    /* --sub-layer-color:E2E0E0;  */ 
    --sub-layer-color:gray; 
    /*using the above color temporarily*/
    /* fonts  */
    --main-font-family :font-family:  Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   --text-header-size:3.13vmax ; 
   --text-definition-size:1.95vmax; 
   --text-highlight-size : 2.34vmax; 
   --text-subDefinition-size: 1.41vmax; 
 }
h1 {font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}

* {
    box-sizing: border-box;
  }

  
header {
    height: 30vh;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    position: relative;
}
.header-1{
    height: 5vh;
    background-color: #2A2828;
    color: white;
    font-size: 2vh;
    display: flex;  
    position: relative;
}
.h-a-1{
    margin-right: 60vw;
}
.h-a-2{
    margin-right: 5vw;
}

.h-logo{

    height: 7vh;
    position: absolute;
    top: 32%;
    left: 30%;
    transform: translate(-50%, -50%);

}

.header-2{
    height: 25vh;
    width: 100%;
    position: relative;
}

  
.search {
    width: 100%;
    position: absolute;
    display: flex;
}

.searchTerm {
    width: 100%;
    height: 7vh;    
    outline: none;
    color: #9DBFAF;
    font-size: 2vh;
    border-radius: 25px 0px 0px 25px;
}

.searchTerm:focus{
    color: #00B4CC;
}
  
.searchButton {
    width: 5vw;
    height: 8vh;

    background: #F24C1A;
    text-align: center;
    color: #fff;
    border-radius: 0px 25px 25px 0px;
    cursor: pointer;
    font-size: 7vh;
    border: 0px;
}
  

.wrap{
    width: 30vw;
    position: absolute;
    top: 20%;
    left: 70%;
    transform: translate(-50%, -50%);
    
}
.navbar{
    width: 85vw;
    height: 7vh;
    background-color: #E2E0E0;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
}
.navbar ul{
    position: absolute;
    top: -5%;
}

.navbar ul li{
    display: inline;
    font-size: 3vh;
    margin-right: 6.5vw;  
}
.navbar ul img{
    width: 4vh;
    position: absolute;
    
}


.book-row-1{
    height: 40vh;
    width:80vw;
    position: relative;
    left: 24%;

}
.book-row-2{
    height: 40vh;
    width:80vw;
    position: relative;
    left: 24%;

}

.book{
    width: 11vw;
    height: 14vw;
    
    display: inline-block;
    margin: 2vh;
}

.book-cover{
    height: 13vw;
    width: 12vw;
    border: 0px;
    border-radius: 25px 25px 0px 0px ;
}

.book-button{
    background-color: #E2E0E0;
    width: 12vw;
    height: 3vw;
    border: 0px;
    margin-top: -1vw;
    border-radius: 0px 0px 25px 25px;
}

/*nnn*/

.card {
    position: absolute;
    background: #E2E0E0;
    border-radius: 25px;
    padding: auto;
    min-width: 300px;
    display: flexbox; 
}

.card .card-header {
    font-size: large;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
}

.card .card-body {
    padding: 10px 20px 10px 10px;
    margin: -20px 20px 20px 20px;
}

form {
    display: flexbox;
}

.form-group {
    width: 100%;
    padding: 10px;
}

.form-group label {
    font-size: 18px;
    padding: 5px 10px;
    display: inline-block;
}

.form-group .form-control {
    width: 100%;
    padding: 10px;
    display: inline-block;
    border-radius: 25px;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #fff;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.button {
    display: inline-block;
    padding: 10px;
    font-size: 16px;
    border-radius: 20px;
    border: 0px;
    min-width: 70%;
}

.button i {
    min-width: 20px;
    height: 20px;
    padding: 3px;
    border-radius: 500px;
    border: 2px solid #fff;
    color:  #fff;
    margin-right: 10px;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
}

.yellow {
    background-color: #FAA809;
    color:  #fff;
}

.blue {
    background-color: #385997;
    color:  #fff;
}

.padding-top {
    padding-top: 10px
}

html {
    height: 100%
}
.body {
    background-image: url("bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.register {
    padding-top: 5%; 
    padding-left: 66%
}

.pa-4 {
    padding:4px
}

.pa-8 {
    padding:8px
}

.pa-10 {
    padding:10px
}

.list{
    position: absolute;
    background: #E2E0E0;
    border-radius: 25px;
    padding: auto;
    min-width: 300px;
    display: flexbox; 
    left: 7%;
}

.list .list-body{
    padding: 10px 20px 10px 10px;
    margin: -20px 20px 20px 20px;
}

.cat-title{
    position: relative ;
    background-color: #F24C1A;
    width: 30vw;
    height: 8vh;
    left: 45%;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 2vh;
    border-radius: 25px;
}
.cat-title p{
    color: white;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}
.cat-title p{
    margin: 0px;

}
.cat-title-sub{
    position: relative;
    background-color: #C4C4C4 ;
    width: 30vw;
    height: 6vh;
    left: 45%;
    text-align: center;
    vertical-align: middle;
    border-radius: 25px;

}
.cat-title-sub p{
    color: #F24C1A;
    left: 50%;
    top: 10%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.filter {
    padding: 20px 0px;
}

.filter .filter-title{ 
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 8px;
}

.filter .filter-body {
    padding: 4px;
}

.filter-body .filter-sub-title{ 
    font-size: 20px;
    text-align: center;
}

.filter-control {
    width: 100%;
    display: inline-block;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #fff;
    font-size: 16px;
}


.filter-label {
    font-size: 15px;
    text-align: center;
}




.filter-checkbox {

}

.footer{
    position: relative;
    height: 50vh;
    background-color: #2A2828;
    margin-bottom: -8px;
    margin-left: -8px;
    margin-right: -8px;
    color: white;
}
.logo-footer{
    widows: 10hw;
    height: 7vh;
    position: absolute;
    left: 20%;
    top: 10%;
    transform: translate(-50%, -50%);
    
}
.footer p{
    width: 25vw;
    position: absolute;
    left: 25%;
    top: 30%;
    transform: translate(-50%, -50%);
    
}
.footer ul{
    list-style-type:none;
    display: inline;
    position: absolute;
    width: 18vw;
}
footer ul li{
    margin: 2vh;
}
.footer-left{
    position: relative;
    height: 45vh;
    width: 40vw;
    top: 7%;
    left: 3%;
}
.footer-right{
    position: relative;
    background: #F24C1A;
    height: 45vh;
    width: 35vw;
    left: 50%;
    bottom: 86%;
    margin: 0px;
}

.li-1{
    top: 40%;
    left: 65%;
    transform: translate(-50%, -50%);
}

.li-2{
    top: 40%;
    left: 80%;
    transform: translate(-50%, -50%);
}
.wrap-footer{
    width: 30vw;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-30%, -30%);
}

