.carousel {
    position: relative ; 
    height :600px;
    width : 80% ; 
    margin :0 auto ;
    margin-top: 3vw; 
    margin-bottom: 9vw; 
    align-items: center;
}
.c_image{
    width:100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
}
.c_track-container{
    height: 100%;
    position: relative;
    overflow: hidden;
}
.c_track {
    padding:0; 
    margin:0; 
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
}
.c_slide{
    position: absolute;
    top : 0 ; 
    bottom: 0; 
    width:100%;
}

.c_button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height:200px;
    background: transparent;
    border:none;
    cursor: pointer;
}
.c_button--left{
    left : -50px;
}
.c_button--right{
    right:-50px;
}
.c_button img {
    width:50px ; 
    height:50px;

}
.c_nav{
    /* background: pink; */
    display: flex;
    justify-content: center;
    padding:10px 0 ;
}
.c_indicator{
    border:0 ; 
    border-radius: 50%;
    width: 15px;;
    height:15px;
    background: #FABD88;
    margin : 0 10px;
    cursor: pointer;
}
.c_indicator.current-slide {
    background: black;
}
.is-hidden {
    display: none;
}